#requirements
pandas
numpy
scikit-learn
langchain
langchain-core
langchain-community
langchain-openai
langchain-text-splitters
langchain-classic
pydantic
openai
python-dotenv
tiktoken
tesseract
chromadb
fastapi
uvicorn
pytest
pytesseract
pdf2image
boto3   
sentence-transformers